h1{
    font-family: monospace;
    text-align: center;
}

table{
    font-family: monospace;
    font-size: large;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

th{
    background-color: black;
    color:white;
}
  
 th,tbody {
    border: 2px solid black;
    padding: 5px;
}

  
