.flex-container {
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 10px;
    border: 3px solid black;
    display:flex;
    flex-direction: row ;
    align-items: center;
    justify-content: center;
    padding:0 10px 10px 0;
  }
  input{
    height:50px;
    width:200px;
    font-size: 30px;
  }
  button{
    height: 50px;
    width: 200px;
    font-size: 20px;
  }
  .column{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
  }
  label{
    font-size: 30px;
  }