<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Available</th>
        <th>Book Image</th>
        <th>Selection</th>
    </tr>
    <tr *ngFor="let book of books">
        <td>{{book.id}}</td>
        <td>{{book.title}}</td>
        <td>{{book.author}}</td>
        <td>{{book.available}}</td>
        <td>
            <app-image [ImageSource]="book.image"></app-image>
        </td>
        <td>
            <button (click) ="onButtonClick(book.title, book.author)">Select Book</button>
        </td>
    </tr>
</table>