table {
    font-family:arial, sans-serif;
    border-collapse:collapse;
    width:100%;
      }
    thead{
        background-color: gray;
    }
    
    td, th {
    border:1pxsolid#dddddd;
    text-align:left;
    padding:8px;
      }
    
    tr:nth-child(even) {
    background-color:#dddddd;
      }
    
    
    
    