table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
  height: 10%;
  margin: auto;
}

th {
  text-align: center;
  background-color: #ffc20e;
  border: 3px solid #ffc20e;
}

td {
  border: 3px solid #ffc20e;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #818181;
  color: whitesmoke;
}

/* .myclass{
    background-color: azure;
    margin: auto;
    width: 50%;
  } */

body {
  background-color: azure;
}
