<div class = "myclass">
<table >
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Availability</th>
        <th>Image</th>
        <th>Action</th>
      </tr>

      <tr *ngFor="let book of parentInput">
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.available }}</td>
        <td><img style="width: 100px;" *ngIf="!book.available == false; else noImage" [src]='image'> 
          <ng-template #noImage>
              No image
          </ng-template></td>
          <td><button (click)="onButtonClick(book.title,book.author)" >Select</button></td>
      </tr>

</table>

</div>

<app-image [image]="image"></app-image>
